html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }


 #map-canvas {
	border: 1px solid #c8c7a7;
	min-height: 500px;
	margin: auto 10px;
        height: 100%;
}

.margin-hor-5 {
	margin: 5px 0;
}

.btn-min-width-150 {
	min-width: 150px;
}
